/* full-screen */
html,
body {
  margin: 0;
  height: 100%;
}

.whole_page {
  height: 100%;
}

.container-fluid {
  height: 100%;
  margin: 0 auto;
}

/* navbar */
.navigation__bar {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  border-right: 1px solid #767676;
}

.navigation__bar a {
  padding: 25px 0px 25px 0px;
  cursor: default;
  text-decoration: none;
  color: #767676;
  font-size: 40pt;
}

/* jquery - click to active - file toggleNavbar.js*/
.active {
  color: #000 !important;
  transition: all 1s ease-in;
}

.active::before {
  content: "";
  background: #000 !important;
  display: inline-block;
  position: relative;
  width: 7px;
  height: 70px;
  margin-right: 15px;
  top: 17px;
  transform-origin: top;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SNS icon */
.social-media__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.social-media__icon i {
  padding: 15px 0px 15px 0px;
}

/* responsive */
@media screen and (max-width: 600px) {
  .navigation__bar {
    flex-direction: row;
    min-height: 20%;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid;
  }

  .navigation__bar a {
    padding: 0px 20px 0px 20px;
    font-size: 34pt;
  }

  .active::before {
    content: "";
    background: #000 !important;
    display: inline-block;
    position: absolute;
    width: 45px;
    height: 2px;
    transform: rotate(90deg);
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }

  .social-media__icon {
    padding: 0px 0px 0px 30px;
  }
}

/* feedback styling */

.main-content_column {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.main-content {
  text-align: center;
}

.contact-form {
  margin-top: 15px;
}

.contact-form .textarea {
  min-height: 220px;
  resize: none;
}

.form-control {
  box-shadow: none;
  border-color: #eee;
  height: 49px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #083248;
}

.form-control-feedback {
  line-height: 50px;
}

.main-btn {
  background: #083248;
  border-color: #083248;
  color: #fff;
}

.main-btn:hover {
  background: #00a491;
  color: #fff;
}

.form-control-feedback {
  line-height: 50px;
  top: 0px;
}

.feedback_content,
.feedback_submit {
  padding-top: 10px;
}
