/*** Init Setting ***/
html,
body{
  margin:0;
  height:100%;
}
/*** Navbar ***/
.navigation__bar{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-height:100%;
  width:20%;
  border-right:1px solid #767676;
}
.navigation__bar a{
  padding:25px 0px 25px 0px;
  cursor:default;
  text-decoration:none;
  color:#767676;
  font-size:40pt;
}
/*** JQuary ***/
/**Click animation created by JQuery function toggleActive(). file toggle-narbar.js**/
.active{
  color:#000 !important;
  transition: all 1s ease-in;
}
.active::before {
  content:"";
  background:#000 !important;
  display:inline-block;
  position:relative;
  width:7px;
  height:70px;
  margin-right:15px;
  top:17px;
  transform-origin:top;
  animation:fadein 1s;
  -moz-animation:fadein 1s; /* Firefox */
  -webkit-animation:fadein 1s; /* Safari and Chrome */
  -o-animation:fadein 1s; /* Opera */
}
/*** SNS Icon ***/
.social-media__icon{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding-top:50px;
}
.social-media__icon i{
  padding:15px 0px 15px 0px;
}
/*** animation ***/
/**  When animation happened,opacity changed **/
@keyframes fadein{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-moz-keyframes fadein{
/* Firefox */
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-webkit-keyframes fadein{
/* Safari and Chrome */
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-o-keyframes fadein{
/* Opera */
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
/*** Bootsrap CSS Resetting***/
.container-fluid{
  height:100%;
  margin:0 auto;
}
/*** RWD ***/
/** When monitor's width smaller than 600px,Navbar will move to top side.**/
@media screen and (max-width: 600px){
  .navigation__bar{
    flex-direction:row;
    min-height:20%;
    width:100%;
    border-right:none;
    border-bottom:1px solid;
  }
  .navigation__bar a{
    padding:0px 20px 0px 20px;
    font-size:34pt;
  }
/**Click animation created by JQuery function toggleActive() in file toggle-narbar.js**/
 .active::before{
    content:"";
    background:#000 !important;
    display:inline-block;
    position:absolute;
    width:45px;
    height:2px;
    transform:rotate(90deg);
    animation:fadein 1s;
    -moz-animation:fadein 1s; /* Firefox */
    -webkit-animation:fadein 1s; /* Safari and Chrome */
    -o-animation:fadein 1s; /* Opera */
  }
/** SNS Icon **/
  .social-media__icon {
    padding:0px 0px 0px 30px;
  }
}
